@using TravelTripProje.Models.Siniflar
@model List<Yorumlar>
@{
    ViewBag.Title = "Yorumlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Listesi </h2>

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı Adı</th>
        <th>Mail</th>
        <th>Yorum</th>
        <th>Blog</th>
        <th>Sil</th>
        <th>Güncelle</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.KullaniciAdi</td>
            <td>@item.Mail</td>
            <td>@item.Yorum</td>
            <td><a style="color:green">@item.Blog.Baslik</a></td>
            <td><a href="/Admin/BlogSil/@item.ID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Admin/BlogGetir/@item.ID" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }


</table>
<br />

