
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("PartialFacilities", "Default")

<div class="site-section py-5">
    @Html.Action("PartialStory", "Default")
</div>

<div class="site-section">
    @Html.Action("PartialJourney", "Default")
</div>

<div class="site-section">
    @Html.Action("PartialTeam", "Default")

</div>


<!--yorumlar-->
<div class="site-section">
    @Html.Action("PartialTestimonial", "Default")

</div>


<div class="site-section">

    @Html.Action("PartialBlog", "Default")
</div>

